
@{
    ViewBag.Title = "Deliveries";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-xs-12">
        <h2>Deliveries</h2>
    </div>
</div>
