<div class="small-modal" ng-cloak class="hide" ng-if="SmallModal.class != 'hide'" ng-class="SmallModal.class">
	<div class="small-modal-header">{{SmallModal.header}}</div>
	<p class="small-modal-text">{{SmallModal.text}}</p>
</div>
