@{
    ViewBag.Title = "Jane - Register Dispensary";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<div class="container-fluid" id="PendingDispensaryCtrl" ng-controller="PendingDispensaryCtrl" ng-init="registerInit()">
    @{ Html.RenderPartial("_DispensaryInfo");}
</div>