@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<div class="container" ng-controller="MyAccountCtrl">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <form name="updateform" class="form form-horizontal">
                <div class="panel panel-default">
                    <div class="panel-heading">Forget your password?</div>
                    <div class="panel-body">
                        <div style="padding-left: 5px; padding-right: 5px;">
                            <div class="form-group">
                                <alert ng-repeat="alert in alerts" type="danger">{{alert.msg}}</alert>
                                <input type="text" placeholder="Your email" class="form-control" id="txtEamil" ng-model="forgetEmail"/>
                                <input type="submit" style="margin-top: 5px;" class="btn btn-success" ng-click="sendPasswordToUser()" value="Send password">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
