@{
    ViewBag.Title = "About";

}


<div class="container-fluid">
    <div class="text-center heading-area">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>    
    </div>
    <div class="about text-center">
        <div class="two-cols row">
            <div class="col-sm-6">
                <h2>What is Jane?</h2>
                <p>Jane is the easiest way to get the right medicinal marijuana for you. Get your medicine for delivery or pickup, whatever works for you!</p>
            </div>
            <div class="col-sm-6">
                <h2>Where can I use Jane?</h2>
                <p>We're rolling out in New England and are busy getting ready to come to the rest of the country!</p>        
            </div>
        </div>
        <div class="steps-area">
            <h2 id='center'>How do I place an orders?</h2>
            <div class='orders'>
                <div class='order-box'>
                    <div class="order-box-area">
                        <h3>1. ENTER ZIP CODE</h3>
                        <p>Enter your zip code, then click "Go!"</p>    
                    </div>
                            
                </div>
                <div class='order-box'>
                    <div class="order-box-area">
                        <h3>2. BROWSE </h3>
                        <p>Browse through a slew of products available in your area. You can also sort by dispensary if you're in a state that permits patronage of multiple dispensaries (some don't :( ).</p>
                    </div>
                </div>
                <div class='order-box'>
                    <div class="order-box-area">
                        <h3>3. ORDER</h3>
                        <p>Then, add an item with one easy click. Just specify the quantity and when you're done, click the "Add Item" button. You can either keep shopping or click the "Proceed to Checkout" button at the bottom of your cart page.</p>
                    </div>
                </div>
                <div class='order-box'>
                    <div class="order-box-area">
                        <h3>4. CHECKOUT </h3>
                        <p>If this is your first time ordering, you'll need to set up your Jane account. Once your account is verified (usually takes a minute or two), enter your delivery info, select a password, provide billing information, and click "Submit Order". Returning members can checkout with one easy click!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="two-cols row">
            <div class="col-sm-6">
                <h2>What happens after I submit my order?</h2>
                <p>Your order is sent to the dispensary the instant you click "Submit Order". A Jane delivery specialist is then assigned to pick up &amp; deliver to you. Once your order has been assigned to a Jane courier, you'll receive a confirmation text so you can be sure your order will be soon on its way. From there you can track your order's status in real-time, and before you know it- your MaryJane has arrived!</p>
            </div>
            <div class="col-sm-6">
                <h2>What if I don't get confirmation?</h2>
                <p>Contact us at hello@askmjane.com or by going to the "Contact Us" page which has our support number and live chat to assist with any other questions you might have.</p>
            </div>
        </div>
    </div>
</div>