@{
    ViewBag.Title = "Ask Jane";
}
<div class="container-fluid">
    <div class="contact-block">
        <div class="text-center heading-area">
            <h2>@ViewBag.Title.</h2>
            <h3>@ViewBag.Message</h3>
        </div>
        <div class="text-center">
            <address class="center-block">
                130 Middle Street<br />
                Portland, ME<br />
                <abbr title="Phone">P:</abbr>
                617.714.9487
            </address>
            <address>
                <strong>Support:</strong> <a href="mailto:hello@askmjane.com">Hello@AskMJane.com</a><br />
            </address>
        </div>                    
    </div>
</div>
