@{
    ViewBag.Title = "Terms";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="static">
                <div class='wrapper'>
                    <ol class='breadcrumb'>
                        <li class='crumb'>Home</li>
                        <li class='crumb active'>Terms</li>
                    </ol>
                    <div class='static-inner'>
                        <h2>Terms &amp; Conditions</h2>
                        <p>The terms and conditions stated herein (collectively, the "Agreement") constitute a legal agreement between you and GreenToGo Incorporated, a Delaware Corporation (hereinafter "GreenToGo", "AskJane", "Jane" or the "Company"). In order to use the Service (defined below) you must agree to the terms and conditions that are set out below. By using or receiving any services supplied to you by Jane (collectively, the "Service"), you hereby expressly acknowledge and agree to be bound by the terms and conditions of this Agreement, and any future amendments and additions to this Agreement as published from time to time at http://askmjane.com and throughout the Service. IF YOU DO NOT AGREE TO BE BOUND BY THESE TERMS AND CONDITIONS, PLEASE DO NOT USE, ACCESS, OR REGISTER FOR THE SERVICE AND DO NOT DOWNLOAD, INSTALL, OR USE ANY ASSOCIATED APPLICATIONS.</p>

                        <h3>MODIFICATION</h3>
                        <p>Jane reserves the right to modify the Agreement at any time, effective upon posting. The Agreement posted at the time of your use of the applicable services shall govern that use. You are responsible for reviewing this Agreement - continued use of the Service after the Agreement has been modified shall constitute consent to such changes.</p>

                        <h3>DISCLAIMER</h3>
                        <p>JANE DOES NOT PROVIDE DELIVERY OR COURIER SERVICES. IT IS UP TO THE THIRD PARTY COURIER TO OFFER COURIER SERVICES WHICH MAY BE SCHEDULED THROUGH USE OF THE SERVICE. JANE OFFERS INFORMATION AND A METHOD TO OBTAIN SUCH THIRD PARTY COURIER SERVICES, BUT DOES NOT AND DOES NOT INTEND TO PROVIDE COURIER SERVICES OR ACT IN ANY WAY AS A COURIER, AND HAS NO RESPONSIBILITY OR LIABILITY FOR ANY DELIVERY OR COURIER SERVICES PROVIDED TO YOU BY SUCH THIRD PARTIES.</p>

                        <p>JANE IS NOT A MEDICAL MARIJUANA COLLECTIVE OR COOPERATIVE AND DOES NOT ITSELF PROVIDE MEDICAL CANNABIS DELIVERY SERVICES TO MEDICAL CANNABIS PATIENTS, AND JANE IS NOT A MEDICAL CANNABIS DELIVERY SERVICE PROVIDER. IT IS THE SOLE RESPONSIBILITY OF THE THIRD PARTY COLLECIVE/DELIVERY SERVICE PROVIDER TO OFFER STATE LAW COMPLAINT SERVICES, WHICH MAY BE LOCATED, SCHEDULED, AND COORDINATED THROUGH USE OF THE SERVICE. JANE OFFERS PRE-VERIFICATION OF USERS AND A METHOD TO OBTAIN SUCH THIRD PARTY DELIVERY SERVICES, BUT DOES NOT AND DOES NOT INTEND TO PROVIDE DELIVERY SERVICES OR ACT IN ANY WAY AS A DELIVERY SERVICE, AND HAS NO RESPONSIBILITY OR LIABILITY FOR ANY DELIVERY SERVICES PROVIDED TO YOU BY SUCH THIRD PARTY PROVIDERS.</p>

                        <h3>REPRSENTATIONS AND WARRANTIES</h3>

                        <p>By using this service you agree to abide by the terms and conditions of the Agreement at the time of use. The Service is not available to those under the age of eighteen(18). By using the Service you expressly represent and warrant that you are at least eighteen (18) years old, and are otherwise legally entitled to enter this Agreement. By using the Service you expressly represent and warrant that you have the authority and capacity to enter this Agreement and to perform all the obligations set forth therein. By using the Service you represent and warrant that the Service is for your personal and non-commercial use only, and you have not and will not assign or otherwise transfer your user account to another person or authorize others to use your user account. You agree to provide Jane with whatever proof of identity may reasonably be requested.</p>

                        <p>By using the Service, you agree that:</p>

                        <p>You will only use the Service for lawful purposes; you will not use the Service for sending or storing any unlawful material or for fraudulent purposes.</p>
                        <p>You will not use the Service to cause nuisance, annoyance or inconvenience.</p>
                        <p>You will not impair the proper operation of the network.</p>
                        <p>You will not try to harm the Service in any way whatsoever.</p>
                        <p>You will not copy, or distribute the Service or other content without written permission from Jane.</p>
                        <p>You will only use the Service for your own use and will not resell it to a third party</p>
                        <p>You will keep secure and confidential your account password or any identification we provide you which allows access to the Service.</p>
                        <p>You will provide us with whatever proof of identity we my reasonably request.</p>
                        <p>You will only use an access point or data account (AP) which you are authorized to use.</p>

                        <p>When using the Service you agree to comply with all applicable laws from your home country, state, county and city as well as the city in which you are present while using the Service.</p>

                        <h3>LICENSE GRANT AND RESTRICTIONS</h3>

                        <p>Subject to your agreement to and continuing compliance with this Agreement, Jane grants you a limited, non-transferable, non-sublicensable, non-exclusive right to use the Service, solely for personal, non-commercial purposes. This right may be revoked at any time for any reason or no reason. You may not:</p>
                        <p>Incorporate the information, content, or other material in any database, compilation, archive or cache.</p>
                        <p>Modify, copy, distribute, re-publish, transmit, display, perform, reproduce, publish, reuse, resell, license, create derivative works from, transfer, or sell any information, content, material, software, products or services obtained from the Sites, except as specifically noted.</p>
                        <p>Except as specifically authorized by Jane, you may not deep-link to the site for any purpose or access the website manually or with any robot, spider, web crawler, extraction software, automated process or device to scrape, copy, or monitor any portion of the Site or any information, content, or material on the website. Jane reserves all of its statutory and common law rights against any person or entity who violates this paragraph.</p>
                        <p>Link or frame to any pages of the website or any content contained therein, whether in whole or in part, without prior written consent from Jane.</p>
                        <p>Use the Service to send or store infringing, obscene, threatening, libelous, or otherwise unlawful or tortious material including material harmful to children or violative or third party privacy rights.</p>

                        <p>All rights not expressly granted to you are reserved by Jane and its licensors.</p>

                        <h3>INTELLECTUAL PROPERTY</h3>
                        <p>Jane alone (and its successors and assigns, or its licensors, where applicable) shall own all right, title and interest, including all related intellectual property rights, in and to the Service and any suggestions, ideas, enhancement requests, feedback, recommendations or other information provided by you or any other party relating to the Service. This Agreement is not a sale and does not convey to you any rights of ownership in or related to the Service, Jane technology, or any intellectual property rights owned by Jane. The Jane name, logo, and the product names associated with the Service are trademarks of GreenToGo Inc. or third parties, and no right or license is granted to use them.</p>

                        <h3>THIRD PARTIES</h3>

                        <p>Jane may provide you with access to third party websites, databases, networks, servers, information, software, programs, systems, directories, applications, products, or services, including without limitation, Linked Services (hereinafter "Third Party Services").</p>

                        <p>Jane does not have or maintain any control over Third Party Services, and is not and cannot be responsible for their content, operation or use. By linking or otherwise providing access to any Third Party Services, Jane does not give any representation, warranty or endorsement, express or implied, with respect to the legality, accuracy, quality or authenticity of content, information or services provided by such Third Party Services.</p>

                        <p>Third Party Services may have their own terms and conditions and/or privacy policy, and may have different practices and requirements than those operated by Jane with respect to the Service. You are solely responsible for reviewing any terms and conditions, privacy policies, or other terms governing your use of these Third Party Services, which you use at your own risk. You are advised to make reasonable investigations before entering into any transaction, financial or otherwise, whether online or offline, with any third party related to any Third Party Services.</p>

                        <p>You are solely responsible for taking the precautions necessary to protect yourself from fraud when using Third Party Services, and to protect your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content and material that may be included on or emanate from any Third Party Services.</p>

                        <p>Jane disclaims any and all responsibility for any harm resulting from your use of Third Party Services, and you hereby irrevocably waive any claim against Jane with respect to the content or operation of any Third Party Services.</p>

                        <h3>INDEMNIFICATION</h3>
                        <p>You agree to defend, indemnify and hold harmless Jane, its officers, directors, employees and agents, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to attorney's fees) arising from: (i) your use of and access to this site; (ii) your violation of any term of this Agreement or any applicable law or regulation, whether or not referenced herein; (iii) your violation of any third party right including providers of courier services arranged via the Service. This defense and indemnification obligation will survive these Terms & Conditions and your use of this site.</p>

                        <h3>DISCLAIMER OF WARRANTIES</h3>
                        <p>USE OF THE SOFTWARE IS ENTIRELY AT YOUR OWN RISK. CHANGES ARE PERIODICALLY MADE TO THE WEBSITE AND MAY BE MADE AT ANY TIME WITHOUT NOTICE TO YOU. THE SOFTWARE IS PROVIDED ON AN "AS IS" BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. JANE MAKES NO WARRANTIES OR REPRESENTATIONS ABOUT THE ACCURACY OR COMPLETENESS OF THE CONTENT PROVIDED THROUGH THE SERVICE OR THE CONTENT OF ANY WEBSITES LINKED TO THE SERVICE. Jane ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY (I) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT; (II) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF THE SERVICE; (III) ANY UNAUTHORIZED ACCESS TO OR USE OF JANE'S SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN.</p>
                        <p>Jane DOES NOT WARRANT THAT THE WEBSITE WILL OPERATE ERROR-FREE OR THAT THE WEBSITE AND ITS SERVER ARE FREE OF COMPUTER VIRUSES AND OTHER HARMFUL GOODS. IF YOUR USE OF THE WEBSITE RESULTS IN THE NEED FOR SERVICING OR REPLACING EQUIPMENT OR DATA, JANE SHALL NOT BE RESPONSIBLE FOR THOSE COSTS. JANE, TO THE FULLEST EXTENT PERMITTED BY LAW, DISCLAIMS ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION THE WARRANTY OF MERCHANTABILITY, NON-INFRINGEMENT OF THIRD PARTY RIGHTS AND THE WARRANTY OF FITNESS FOR A PARTICULAR PURPOSE. JANE MAKES NO WARRANTIES ABOUT THE ACCURACY, RELIABILITY, COMPLETENESS OR TIMELINESS OF THE CONTENT, SERVICES, SOFTWARE, SOFTWARE, TEXT, GRAPHICS OR LINKS. JANE AND ITS AFFILIATES AND LICENSORS CANNOT AND DO NOT GUARANTEE THAT ANY PERSONAL INFORMATION SUPPLIED BY YOU WILL NOT BE MISAPPROPRIATED, INTERCEPTED, DELETED, DESTROYED OR USED BY OTHERS.</p>
                        <h3>INTERNET DELAYS</h3>
                        <p>Jane's Service may be subject to limitations, delays, and other problems inherent in the use of the internet and electronic communications. JANE is not responsible for any delays, delivery failures, or other damage resulting from such problems.</p>
                        <h3>LIMITATION OF LIABILITY</h3>
                        <p>IN NO EVENT SHALL JANE'S AGGREGATE LIABILITY EXCEED THE AMOUNTS ACTUALLY PAID BY AND/OR DUE FROM YOU IN THE SIX (6) MONTH PERIOD IMMEDIATELY PRECEDING THE EVENT GIVING RISE TO SUCH CLAIM. IN NO EVENT SHALL JANE AND/OR ITS LICENSORS BE LIABLE TO ANYONE FOR ANY INDIRECT, PUNITIVE, SPECIAL, EXEMPLARY, INCIDENTAL, CONSEQUENTIAL OR OTHER DAMAGES OF ANY TYPE OR KIND (INCLUDING PERSONAL INJURY, LOSS OF DATA, REVENUE, PROFITS, USE OR OTHER ECONOMIC ADVANTAGE). JANE AND/OR ITS LICENSORS SHALL NOT BE LIABLE FOR ANY LOSS, DAMAGE OR INJURY WHICH MAY BE INCURRED BY YOU, INCLUDING BUT NOT LIMITED TO LOSS, DAMAGE OR INJURY ARISING OUT OF, OR IN ANY WAY CONNECTED WITH THE SERVICE, INCLUDING BUT NOT LIMITED TO THE USE OR INABILITY TO USE THE SERVICE, ANY RELIANCE PLACED BY YOU ON THE COMPLETENESS, ACCURACY OR EXISTENCE OF ANY ADVERTISING, OR AS A RESULT OF ANY RELATIONSHIP OR TRANSACTION BETWEEN YOU AND ANY THIRD PARTY SERVICE PROVIDER, ADVERTISER OR SPONSOR WHOSE ADVERTISING APPEARS ON THE WEBSITE OR IS REFERRED BY THE SERVICE, EVEN IF JANE AND/OR ITS LICENSORS HAVE BEEN PREVIOUSLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>
                        <p>JANE MAY INTRODUCE YOU TO THIRD PARTY COURIERS FOR THE PURPOSES OF PROVIDING COURIER SERVICES. WE WILL NOT ASSESS THE SUITABILITY, LEGALITY OR ABILITY OF ANY THIRD PARTY COURIER SERVICE PROVIDERS AND YOU EXPRESSLY WAIVE AND RELEASE JANE FROM ANY AND ALL ANY LIABILITY, CLAIMS OR DAMAGES ARISING FROM OR IN ANY WAY RELATED TO THE THIRD PARTY COURIERS. JANE WILL NOT BE A PARTY TO DISPUTES, NEGOTIATIONS OF DISPUTES BETWEEN YOU AND SUCH THIRD PARTY PROVIDERS. WE CANNOT AND WILL NOT PLAY ANY ROLE IN MANAGING PAYMENTS BETWEEN YOU AND THE THIRD PARTY PROVIDERS. RESPONSIBILITY FOR THE DECISIONS YOU MAKE REGARDING SERVICES OFFERED VIA THE SERVICE (WITH ALL ITS IMPLICATIONS) RESTS SOLELY WITH YOU. WE WILL NOT ASSESS THE SUITABILITY, LEGALITY OR ABILITY OF ANY SUCH THIRD PARTIES AND YOU EXPRESSLY WAIVE AND RELEASE JANE FROM ANY AND ALL LIABILITY, CLAIMS, CAUSES OF ACTION, OR DAMAGES ARISING FROM YOUR USE OF THE SERVICE, OR IN ANY WAY RELATED TO THE THIRD PARTIES INTRODUCED TO YOU BY THE SERVICE. YOU EXPRESSLY WAIVE AND RELEASE ANY AND ALL RIGHTS AND BENEFITS UNDER SECTION 1542 OF THE CIVIL CODE OF THE STATE OF CALIFORNIA (OR ANY ANALOGOUS LAW OF ANY OTHER STATE), WHICH READS AS FOLLOWS: "A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH, IF KNOWN BY HIM, MUST HAVE MATERIALLY AFFECTED HIS SETTLEMENT WITH THE DEBTOR."</p>
                        <p>THE QUALITY OF THE COURIER SERVICES SCHEDULED THROUGH THE USE OF THE SERVICE IS ENTIRELY THE RESPONSIBILITY OF THE THIRD PARTY PROVIDER WHO ULTIMATELY PROVIDES SUCH COURIER SERVICES TO YOU.</p>
                        <h3>ASSIGNMENT</h3>
                        <p>This Agreement and the rights and obligations hereunder may not be assigned by any act or by operation of law, including, but not limited to, bankruptcy, assignment for benefit of creditors, collateral for a loan or satisfaction of a loan, without the prior written consent of Jane; provided, however, that this Agreement and the rights and obligations hereunder shall be freely assignable by Jane.</p>

                        <h3>TERMINATION</h3>
                        <p>This Agreement is effective upon the use of the Service. At its sole discretion, Jane may modify or discontinue the Service, or may modify, suspend or terminate your access to the Service, for any reason, with or without notice to you and without liability to you or any third party. Even after your right to use the Service is terminated, this Agreement will remain enforceable against you. You may terminate this Agreement at any time by ceasing all use of the Service. All provisions which by their nature should survive to give effect to those provisions shall survive the termination of this Agreement.</p>

                        <h3>GENERAL</h3>
                        <p>All questions regarding the validity and interpretation of this Agreement shall be governed by and construed and enforced in all respects in accordance with the laws of the State of California applicable to agreements to be wholly performed therein, regardless of the choice of laws provisions of California or any other jurisdiction. The parties further agree that in the event of a dispute between then, neither party will seek to avoid enforcement of the agreement on the grounds of illegality or otherwise due to the subject matter of this agreement, and each party expressly waives the right to argue unenforceability or illegality, or any other defense related to the subject matter of medical marijuana.</p>

                        <p>All claims or disputes arising out of or relating to this Agreement or interpretation or breach of this Agreement shall be decided exclusively through final and binding arbitration, with such arbitrator empowered to provide equitable relief. Each side shall bear the expense of the arbitration proceeding equally unless otherwise agreed upon, or as noted below. The arbitration shall be conducted by the American Arbitration Association under its Commercial Arbitration Rules, or as otherwise mutually agreed by you and the Company. The parties intend that this agreement to arbitrate be valid, enforceable, and irrevocable. Parties agree to waive any right they may have to punitive damages, to the maximum extent permitted by law. Any demand for arbitration shall be made within a reasonable time after the claim,dispute or other matter in question has arisen. The award rendered by the arbitrator shall be final and judgment may be entered in accordance with applicable law in any court having jurisdiction of the parties.</p>
                        <p>The parties further agree that they will not seek to avoid performance of this Agreement or contend it is unenforceable on the grounds it relates to medical marijuana.</p>

                        <p>The provisions of this Agreement are divisible; if any such provisions shall be deemed invalid or unenforceable, the remaining provisions of this Agreement shall continue in full force and effect without being impaired or invalidated in any way.</p>

                        <p>No joint venture, partnership, employment, or agency relationship exists between you, Jane or any third party provider as a result of this Agreement or use of the Service. The failure of Jane to enforce any right or provision in this Agreement shall not constitute a waiver of such right or provision unless acknowledged and agreed to by Jane in writing. This Agreement comprises the entire agreement between you and Jane and supersedes all prior or contemporaneous negotiations, discussions or agreements, whether written or oral, between the parties regarding the subject matter contained herein.</p>

                        <h3>CONTACT INFORMATION</h3>
                        <p>Jane</p>
                        <p>GreentoGo Incorporated</p>
                        <p>130 Middle St</p>
                        <p>Portland, ME 04101</p>
                        <p>hello@askmjane.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

